<% content_for :javascript do %>
  <script type="text/javascript">
    ShopifyApp.ready(function(){
      ShopifyApp.Bar.initialize({ title: "Toptal Slider Admin" });
    });
  </script>

  <style type="text/css">
     body {
	color: #212b35;
	font-family: -apple-system,BlinkMacSystemFont,San Francisco,Segoe UI,Roboto,Helvetica Neue,sans-serif;
        }

     h2 {
	color: #212b35;
    	font-size: 20px;
    	font-weight: 400;
	line-height: 24px;}

    .delete-from-slider{
	font-size: 10px;
        font-weight:600; 
	color:red;
        cursor:pointer;
        }

    #toptal-slider-shopify-id {
	padding:8px 12px; 
	width:145px; 
	}
    #toptal-slider-addproduct{
    	padding:8px 12px;
	}
    
    .tpslider {}      

  </style>

  <script type="text/javascript">
  (function(){

    var loadScript = function(url, callback){
    var script = document.createElement("script");
    script.type = "text/javascript";

    // If the browser is Internet Explorer.
    if (script.readyState){ 
      script.onreadystatechange = function(){
        if (script.readyState == "loaded" || script.readyState == "complete"){
          script.onreadystatechange = null;
          callback();
        }
      };
    // For any other browser.
    } else {
      script.onload = function(){
        callback();
      };
    }

    script.src = url;
    document.getElementsByTagName("head")[0].appendChild(script);
   };

  var myAppJavaScript = function($){
    console.log(<% @shopdomain %>) 
    $.get( "/toptalsliderproduct?shop=<%= @shopdomain %>", function( data ) { 
      $.each(data,function(i,prod) {
             var sliderproduct = $('<div>');
             sliderproduct.attr('pid',prod.id);
             sliderproduct.html('<span class="delete-from-slider" attr-pid="'+prod.id+'">[DELETE]</span>  ' + prod.title);
             sliderproduct.addClass('tpslider');
             sliderproduct.addClass('tpslider-'+prod.id);
             sliderproduct.appendTo('.slider-products');
      });
    
      $( ".delete-from-slider" ).click(function() {
        var pid = this.getAttribute('attr-pid');
        $.ajax({
    	    url: '/toptalsliderproduct?id='+pid,
    	    type: 'DELETE',
            success: function(result) {
                 if(result.hasOwnProperty('id')){ $('.tpslider-'+result.id).remove();}
		}
	  });
        });
    });
 
    $('#toptal-slider-addproduct').click(function(e) {
        e.stopPropagation();
        var pid = $('#toptal-slider-shopify-id').val();
        $.post( "/toptalsliderproduct", { id: pid})
         .done(function( data ) {
            alert( "Data Loaded: " + data );
        });
      }); 
   };

  if ((typeof jQuery === 'undefined') || (parseFloat(jQuery.fn.jquery) < 1.7)) {
    loadScript('//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js', function(){
      jQuery191 = jQuery.noConflict(true);
      myAppJavaScript(jQuery191);
    });
  } else {
    myAppJavaScript(jQuery);
  }

  })();
</script> 

<% end %>
<h2>Add Product</h2>
<input id="toptal-slider-shopify-id"/>
<input id="toptal-slider-addproduct" type="submit"/>

<h2>Slider Products</h2>
<div class="slider-products">
</div>
